.chat-box {
	display: flex;
	height: 100%;
	max-height: 100%;
	width: 100%;
	background-image: url("/assets/img-home/back-hearts.jpg");
}

.chat-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-inline: auto;
	max-height: 100%;
	max-width: 768px;
	padding-top: 15%;
	width: 100%;
}

.inbox {
	flex-direction: column;
	overflow-y: auto;
	flex: 0 0 auto;
	max-height: 75%;
	padding-inline: 0.5rem;
}

.message-container {
	display: flex;
	flex: 0 0 100%;
	margin-bottom: 0.8rem;
}

.message {
	flex: 0 0 47%;
	max-width: 47%;
	border: 2px solid #3671eb;
	background-color: #fae0fd;
	padding-inline: 1.5rem;
	padding-block: 0.7rem;
}

.message-out {
	margin-left: auto;
	border-radius: 20px 20px 0px 20px;
}

.message-in {
	margin-right: auto;
	border-radius: 20px 20px 20px 0px;
}

.message-out > * {
	text-align: end;
}

.message-in > * {
	text-align: start;
}

.message-user, .message-time {
	font-size: 12px;
	color: gray;
}

.message-user {
	margin-bottom: 1rem;
}

.message-time {
	margin-top: 0.3rem;
}


.message-text {
	word-break: break-all;
	color: #5319b1;
}

.send-message {
	height: 20%;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.send-message > * {
	margin-block: auto;
}

.send-message > input {
	height: 40px;
	border: 2px solid #3671eb;
	background-color: #fae0fd;
	border-radius: 7px;
	flex: 0 0 85%;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
}

.send-message > button {
	background-color: #fae0fd;
	border: 2px solid #3671eb;
	color: #3671eb;
	font-weight: bold;
	height: 40px;
	border-radius: 7px;
	padding: 0.5rem 1.2rem;
	width: fit-content;
}
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #436fc786;
  opacity: 0.8;
  border-radius: 10px;
}