<div class="chat-box">
  <div class="chat-container">
    <div class="inbox">
      <div class="message-container" *ngFor="let mensaje of chat">
        <div
          *ngIf="mensaje.data.usuario == user.email"
          class="message message-out"
        >
          <div class="message-user">{{ mensaje.data.usuario }}</div>
          <div class="message-text">{{ mensaje.data.mensaje }}</div>
          <div class="message-time">
            {{ mensaje.data.fecha }} {{ mensaje.data.hora }}
          </div>
        </div>
        <div
          *ngIf="mensaje.data.usuario != user.email"
          class="message message-in"
        >
          <div class="message-user">{{ mensaje.data.usuario }}</div>
          <div class="message-text">{{ mensaje.data.mensaje }}</div>
          <div class="message-time">
            {{ mensaje.data.fecha }} {{ mensaje.data.hora }}
          </div>
        </div>
      </div>
    </div>
    <div class="send-message">
      <input
        (keydown.enter)="send()"
        type="text"
        [(ngModel)]="mensaje.mensaje"
        placeholder="Escribir mensaje..."
        class="send-message-input"
      />
      <button class="send-message-btn" [disabled]="!mensaje" (click)="send()">
        Enviar
      </button>
    </div>
  </div>
</div>
