<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:700" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet"
  type="text/css" />

<div class="background">



  <div class="about-me-container">
    <div class="image-card">
      <img src="../../assets/img-home/sideways2.png" alt="Placeholder Image">
    </div>
    <div class="menu-card">
      <h2>////</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec ligula eget nisi aliquam laoreet eget nec
        dolor. </p>
    </div>

    <div class="about-me-card">
      <h2>Cecilia</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec ligula eget nisi aliquam laoreet eget nec
        dolor.</p>
    </div>

    <div class="game-card">
      <h2>Mi juego</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec ligula eget nisi aliquam laoreet eget nec
        dolor. </p>
    </div>
    <img class="pixel" src="../../assets/img-home/ghostie.png" alt="Placeholder Image">
    <img class="vines" src="../../assets/img-home/vines.png" alt="Placeholder Image">
    <div class="empty-card"></div>

    <div class="color-palette-card">

      <div class="color-palette">
        <div class="color" style="background-color: #e3e4c1;"></div>
        <div class="color" style="background-color: #cec1e1;"></div>
        <div class="color" style="background-color: #b8d3c3;"></div>
        <div class="color" style="background-color: #f4c5e1;"></div>
      </div>
    </div>




  </div>


</div>

<router-outlet></router-outlet>