.background {
  height: 100%;
  width: 100%;
  background: url(./../../assets/img-home/back-hearts.jpg) repeat center center
    fixed;
  background-size: cover;
  position: absolute;
  display: block;
}
.profile-img {
  background: url(./../../assets/img-home/perfil.png) no-repeat center center;
  margin-top: 150px;
  height: 100%;
  max-height: 750px;
  width: 100%;
  background-size: contain;
  position: absolute;
  display: block;
}
.about-me-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  padding-top: 150px;
}

.menu-card,
.about-me-card,
.game-card,
.empty-card,
.image-card,
.color-palette-card {
  box-sizing: border-box;
  border: 8px solid #f1d2d6;
  background-color: #d1a6d982;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  min-width: 200px;
}

.menu-card h2,
.about-me-card h2,
.game-card h2,
.color-palette-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

.color-palette-card {
  position: absolute;

  left: 100;
}

.color-palette {
  display: flex;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.image-card img {
  max-width: 100%;
  height: auto;
}

.empty-card {
  visibility: hidden;
}

.menu-card {
  flex-basis: 250px;
}

.about-me-card,
.game-card {
  flex-basis: 500px;
}

.menu-card {
  order: 3;
}

.about-me-card {
  order: 2;
}

.game-card {
  order: 3;
  z-index: 2;
}

.image-card {
  order: 1;
  padding-top: -300px;
  max-width: 300px;
  max-height: 300px;
  z-index: 2;
}
.pixel {
  height: 100px;
  width: 100px;
  order: 6;
  position: absolute;
  padding-top: -150px;
  z-index: 3;
}
.vines {
  width: 250px; /* set the width of your vines image */
  height: 300px; /* set the height of your vines image */

  /*set to the far upper right*/
  position: absolute;
  top: 140px;
  right: 0;
  z-index: 1;
}

.menu-card:hover,
.about-me-card:hover,
.game-card:hover,
.image-card:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.card-border {
  border: 8px solid #d3c0b8;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25) inset;
}

/* pixelated borders */
.menu-card,
.about-me-card,
.game-card,
.empty-card,
.image-card,
.color-palette-card {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.color-palette-card {
  box-shadow: none;
  order: 5;
  left: 40px;
}

.color-palette-card h2 {
  font-size: 18px;
}

.color {
  width: 25px;
  height: 25px;
  margin: 4px;
  border: 2px solid #f1e1d2;
}

.color:hover {
  border: 2px solid #ffffff;
}

.color:active {
  border: 2px solid #000000;
}
