
.body {
  margin: 0 -10px;
 
}

.header-back
{
  background: url(./../assets/img-home/powerpuff.jpg) repeat center center fixed;
  background-blend-mode: darken;
  height: 15%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

  .all {
    
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center !important;
    transform-style: preserve-3d;
    
  }
  .all {
    margin-top: 10px;

    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
    position: relative;
    .text {
      opacity: 1;
    }
    & > div {
      opacity: 1;
      transition-delay: 0s;
    }
    .explainer {
      opacity: 0;
   
    }
  }
  
  .left, .center, .right, .lefter, .righter {
   
    width: 200px;
    height: 100px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid rgba(254, 89, 144, 0);
    box-shadow: 0 0 20px 5px rgb(203, 118, 255);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(188, 158, 252);
    cursor: pointer;
    background-blend-mode: color-burn;
    
    &:hover {
      box-shadow: 0 0 30px 10px rgba(255, 100, 100, 0.6);
    background-color: #ccf;
    }
  }
  .text {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease;
    bottom: 0;
    position: absolute;
    will-change: transform;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 15px rgba(100, 100, 255, .6);
    text-align: center;
    justify-content: center;
    align-items: center;
    left: 20%;
  }
  .lefter {
    transform: translateX(-70px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://cdn4.iconfinder.com/data/icons/aami-web-internet/64/aami14-74-512.png);
  }
  .left {
    transform: translateX(-40px) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
  }
  .center {
    opacity: 1;
    background-size: auto 100%;
    background-image: url(https://cdn2.iconfinder.com/data/icons/kitchen-appliances-computers-and-electronics/32/Appliances-09-512.png);
    
  }
  .right {
    transform: translateX(40px) translateZ(-25px) rotateY(5deg);
        background-size: auto 80%;
    background-image: url(https://cdn4.iconfinder.com/data/icons/user-experience-1/60/ux-outline-029-secure-log-in-512.png);
   
  }
  .righter {
    transform: translateX(70px) translateZ(-50px) rotateY(10deg);
    background-image: url(https://cdn2.iconfinder.com/data/icons/lined-social-networks/48/a-07-512.png);
  } 
 
  .explainer {
   
    font-family: 'JumboRings', sans-serif;
    font-weight: 300;
    font-size: 4rem;
    color: rgb(0, 0, 0);
    transition: all .6s ease;
   margin-left: -180px;
    width: 600px;
    height: 90%;
    margin-top: 10px;
    background-color: #303050;
    background-image: radial-gradient(circle at center top, #f7dbf4, rgb(180, 124, 247));
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(62, 17, 107, 0.8);
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, .4);
    &::first-letter {
      font-size: 12px;
    }
  }

