<link href="http://fonts.cdnfonts.com/css/cheri" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/krishart" rel="stylesheet">
<link href="http://fonts.cdnfonts.com/css/jumborings" rel="stylesheet">
<div class="header-back">
<header>
<div class="all">
  <div class="lefter">
    <div class="text" routerLink="/quien-soy">SOBRE MI</div>
  </div>
  <div class="left">
    <div class="text">JUEGOS</div>
  </div>
  <div class="center">
    <div class="explainer" ><style>
@import url('http://fonts.cdnfonts.com/css/jumborings');
      </style><span> BIENVENIDO </span></div>
    <div class="text" routerLink="/home"  >HOME</div>
    </div>
  <div class="right">
    <div class="text" routerLink="/login">INICIAR SESION</div>
  </div>
  <div class="righter">
    <div class="text">OPCION</div>
  </div>
  </div>
  
 </header></div>

 <router-outlet></router-outlet>