

.fondo {

  background-image: url("/assets/img-home/back-hearts.jpg");
}



.game-box {
  margin: 5%;
  width: 100%;
  max-width: 1024px;
  margin-inline: auto;
}
.h1{
  font-size: 2.5em;
  text-align: center;
  color: #ff0084;
  font-family: "Raleway", sans-serif;
}

.header_image{
  border-radius: 20px 20px 0 0; /* Apply border-radius to the upper corners */
  object-fit: resize;
  height: 18.5em;
  width: 100%;
}

.ahorcado-gameOver {
  padding-top: 60px;
  width: 150%;
}
.ahorcado-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between; /* This aligns the two containers side by side */
  width: 2000px;
  backdrop-filter: blur(15px);
  max-width: 1100px; /* Limit the width to prevent it from becoming too wide */
  padding: 20px; /* Add padding for spacing inside the innerContainer */
  height: 650px;
}
.ahorcado-rightContainer{
  display: flex;
  flex-flow: column wrap;

  
  
}
.side-description{
 
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 500px;
  float: left;
  border-right: 1px solid gray;
}


.game-container {
  display: flex;
 
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 500px;

  float: right;
  background-color: pink;
}
.botonera {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: table-column;
  size: 20%;
  margin-bottom: 20px;
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 16px;
  padding: 0 25px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.palabra-box {
  padding-block: 2rem 1rem;
  background-color: rgb(221, 191, 255);
  margin-block: 1rem;
  height: auto;
}

.palabraContainer {

  text-align: center;
  height: 100%;
  width: 100%;
  line-height: 10px;

  
}

.letras-container {
  margin-block: auto 0;
}

.respuesta {
  font-size:13px;
  width: 50px;
  height: 40px;
 
  border-width: 0px 0em 5px 0; /* top right bottom left */
  border-style: solid dotted inset double;
  border-color: #f00 #0f0 rgb(0, 0, 0) #ff0;
}
.boton-letra-acertada {
  background-color: lightgreen !important;
  pointer-events: none;
  cursor: default;
  

}
.boton-presionado {
  background-color: rgb(204, 220, 225);
}
.mostrar-letra {
  font-size: 20px;
  padding-top: 10px;
}

.boton-letra-no-acertada {
  background-color: lightcoral;
  /* //disabled, add italics or something that shows its already been pressed */
  pointer-events: none;
  cursor: default;

}

.fondo, .title,.ahorcado-rightContainer, .ahorcado-imagen, .side-container, .side-description, .ahorcado-container, .game-container, .botonera, .palabra-box, .letras-container, .respuesta, .boton-letra-acertada, .boton-presionado, .mostrar-letra, .boton-letra-no-acertada {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #ad99e9;
}
.fondo, .side-container{
  display: flex;
  flex-wrap: wrap;
}