<div class="fondo">
  <div class="game-box">
    <div *ngIf="!juegoEnCurso" class="side-container">
      <h1 class="h1">
        Ahorcado<br /><span class="colorDisplay">Reglas del juego</span>
      </h1>
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <p style="margin-top: 30px">
            El jugador deberá adivinar palabras eligiendo las letras que las
            componen, cada acierto irá completando la palabra mientras que cada
            error dibujará al ahorcado. Si el ahorcado termina de dibujarse, el
            jugador perderá. Cada palabra que el jugador complete, sumará un
            punto. El total de puntos a obtener serán 10.
          </p>
        </div>
      </div>
      <hr />
      <button (click)="iniciarJuego()">Empezar</button>
    </div>

    
      <div *ngIf="juegoEnCurso" class="ahorcado-container">
      
        <div class="row">
          <div class="ahorcado-imagen">
       
              <img src="./../../../assets/ahorcado/{{vidas}}.png" width="340px" height="340px">
          
          </div>
        
        </div>
        <hr />
       
      </div>
      <div *ngIf="juegoEnCurso" class="game-container">
      <h1 class="h1">
        Ahorcado<br /><span class="colorDisplay">Adivina las palabras</span>
      </h1>

      <div class="">
        <span class="message">Puntaje: {{ 5 }}</span>
      </div>
      <!-- <div class="col">
      <li *ngFor="let boton of botones">
        <button class="btn btn-primary letter-button">{{ boton.letra }}</button>
      </li>
    </div> -->

      <div class="palabra-box">
        <div class="col palabraContainer">
          <ng-container>
            <button
              class="respuesta"
              *ngFor="let buttonText of palabraActualArray; let i = index"
            >
              {{ buttonText }}
            </button>
          </ng-container>
          <!-- *ngFor="let descr of elegirPalabra()">
        <p>
          {{ descr }}
        </p> -->

          <!-- <span *ngFor="let letra of palabraElegida">
        <span>{{ palabraElegida }} </span>
      </span> -->
        </div>
      </div>

      <div class="letras-container">
        <button
          type="button"
          class="btn btn-primary botonera"
          *ngFor="let boton of botones"
          (click)="verificarLetra(boton)"
          [disabled]="boton.presionado"
          [ngClass]="boton.estado"
        >
          {{ boton.letra }}
        </button>
      </div>
    </div>
  </div>
</div>
