
<section class="profile">
  <header class="header">
    <div class="details" *ngIf="authSvc.userData as user">

      <div class="location">
        <p>Bienvenido, {{user.email}}!</p>
      </div>
     
    </div>
  </header>
</section>
<ul class="cards">
    <li>
      <a href="" class="card">
        <img src="../../assets/img-home/icons8-games-64.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">
            <div class="card__header-text">
              <h3 class="card__title">Juego 1</h3>            
              <span class="card__status">_____________________________</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>      
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/img-home/icons8-games-64.png" class="card__image" alt="" />
        <div class="card__overlay">        
          <div class="card__header">       
            <div class="card__header-text">
              <h3 class="card__title">Juego 2</h3>
              <span class="card__status">____________</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/img-home/icons8-games-64.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">                                 
            <div class="card__header-text">
              <h3 class="card__title">Juego 3</h3>                      
              <span class="card__status">____________</span>
            </div>
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li>
    <li>
      <a href="" class="card">
        <img src="../../assets/img-home/icons8-games-64.png" class="card__image" alt="" />
        <div class="card__overlay">
          <div class="card__header">         
            <div class="card__header-text">
              <h3 class="card__title">Juego 4</h3>
              <span class="card__status">____________</span>
            </div>          
          </div>
          <p class="card__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, blanditiis?</p>
        </div>
      </a>
    </li>    
  </ul>
  <router-outlet></router-outlet>