@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

.container , .innerContainer , .pageTitle , .titleContainer{
  display: flex;
  flex-wrap: wrap;
}
.container {
  background: url(./../../assets/img-home/back-hearts.jpg) repeat;
  width: 100%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cardOuterContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
}
.innerContainer{
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 20px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  justify-content: center;
  height: 750px;
  width: 2000px;
  backdrop-filter: blur(15px);
  max-width: 1000px; /* Limit the width to prevent it from becoming too wide */
  padding: 20px; /* Add padding for spacing inside the innerContainer */
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.titleContainer{ 
  background: url(./../../assets/img-home/back-hearts.jpg) repeat;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  height: 320px;
  margin: 50px;
}
.pageTitle{
  font-family: "Raleway", sans-serif;
  font-size: 6.0em;
  color: #ff0084;
  align-items: center;
  backdrop-filter: blur(15px);
  text-shadow: 0 0 15px rgb(100, 100, 255);
}
.container-cards {
  height: 300px;
  background: #fdcfe8;
  display: flex; /* Make outer-card a flex container to arrange header and content side by side */
  flex-direction: column; /* Stack image and content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text content */
  border-radius: 20px;
}
.outer-card:hover {
  box-shadow: 0 0 20px 8px #ff0084;
}

.content {
  text-align: justify;
  color: black;
  padding: 10px; /* Adjusted padding for better spacing */
  font-family: "Merriweather", serif;
  min-height: 135px;
}

.header {
  position: relative;
  width: 100%;
  height: 55%;
  background-image: url("./../../assets/img-home/back-hearts.jpg");
  display: flex;
  justify-content: center;
}

.game_image {
  width: 100%;
  height: 95%;
  object-fit: cover;
  max-width: fit-content;
  max-height: fit-content;
}

.header_image{
  border-radius: 20px 20px 0 0; /* Apply border-radius to the upper corners */
  object-fit: resize;
  height: 18.5em;
  width: 100%;
}

.header_image, .pageTitle, .titleContainer, .headerContainer{
  cursor: none;
}

.outer-card {
 height: 320px;
 
}

.card__title {
  font-family: "Raleway", sans-serif;
   
  font-size: 1.5em;
  margin: 0 0 0.3em;
  color: #ff0084;
  text-align: center;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #350045;
  font-family: "MockFlowFont";
text-align: center;
font-size: 15px;
} 

/* For screens with a width between 1850px and 2228px */
@media screen and (max-width: 2228px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }
  .outer-card {
    flex: 0 0 calc(25% - 20px);
    margin: 10px;
  }
}

/* For screens with a width between 978px and 1850px */
@media screen and (min-width: 768px) and (max-width: 1850px) {
  .container {
    padding-top: 800px; /* Add space at the top */
  }

  .outer-card {
    flex: 0 0 calc(50% - 40px); /* Make each card occupy 50% of the container width with increased margin */
    margin: 20px;
  }

  .container-cards {
 /* Allow the container to adjust its height based on content */
    width: 100%;
    height: auto;
    background: #fdcfe8;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #ad99e9;
    display: flex;
    flex-direction: column; /* Stack image and content vertically */
    align-items: center;
    text-align: center;
  }


  .content {
    padding: 20px; /* Adjusted padding for more space within the card */
    font-family: "Merriweather", serif;
    min-height: 135px;
    height: 50%; /* Set height for the content's bottom half */
  }

  h1, h3 {
    font-weight: 400; /* Fix the font-weight value */
  }
}

/* For screens with a width of 768px or smaller */
@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
    padding-top: 1000px; /* Add space at the top */
  }
  .outer-card {
    flex: 0 0 calc(100% - 20px); /* Make each card occupy 100% of the container width with margin */
    margin: 10px;
    padding: 10px;
    
  }
  .container-cards {
    width: 100%;
    height: auto;
    background: #fdcfe8;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #ad99e9;
    display: flex;
    flex-direction: column; /* Stack image and content vertically */
    align-items: center;
    text-align: center;
  }
}
.headerContainer, .titleContainer, .outer-card, .innerContainer, .container{
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #ad99e9;
}

.headerContainer{
  width:600px;
}