<div class="navbar">
    <div class="navbar-container">
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/favicon.ico" alt="Logo" />
      </a>
      <ul class="navbar-menu">
        <li class="nav-item">
          <a routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a routerLink="/quien-soy">SOBRE MI</a>
        </li>
      </ul>
      <div class="user-profile">
        <!-- Add user profile picture and name here -->
        <img src="your-profile-picture.jpg" alt="Your Name" />
        <span>Your Name</span>
      </div>
    </div>
  </div>